.content{text-align:center}.title{font-size:84px}.main_menu ul{display:block}.top-right{display:block;float:lright;position:relative}.profile-img{width:30px;height:30px}.logo{height:30px}
/*# sourceMappingURL=style.css.map */
