/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2017, 2:37:42 PM
    Author     : gieroja
*/

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.main_menu ul{
    display: block;
}  

.top-right{
    display: block;
    float:lright;
    position: relative;
}

.profile-img{
    width:30px;
    height: 30px;
}

.logo{
    height: 30px;
}